snippet arr "begin and end" i
np.array(${1:${VISUAL}}) $0
endsnippet

snippet math "insert docstring math" i
:math:
endsnippet

snippet print "insert docstring math" i
print(${1:${VISUAL}})$0
endsnippet
